<header class="header-container">
  <div class="branding">
   <div id=logo> <img src="assets/images/AccuielPage/cinema1.png"></div>
  </div>
  <nav class="nav-links">
    <ul>
      <li><a routerLink="">Accueil</a></li>
      <li><a routerLink="/listes-films">Liste de Films</a></li>
      <li><a routerLink="/recherche">Rechercher un film</a></li>
      <li><a routerLink="/favoris">Favoris</a></li>
      
    </ul>
  </nav>
</header>