.branding img {
    height: 27vh;
    width: 15vw;
    border-radius: 2px;
    margin-left: 10px;
  }
  
  .header-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    height: 20vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #5e5d5d;
  }
  
  .nav-links ul {
    list-style-type: none;
  }
  
  .nav-links ul li {
    display: inline;
    margin-right: 2em;
    margin-left: 0;
    font-size: 1.5em;
  }
  
  .nav-links ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1em;
  }
  
  .nav-links ul li a:hover {
    color: #5e5d5d;
  }
  
  @media only screen and (max-width: 320px) {
    .branding > img {
      height: 6vh;
      width: 20vw;
      padding-top: 5px;
    }
  
    .nav-links ul li a {
      font-size: 0.5em;
    }
  
    .header-container {
      flex-direction: column;
      height: 38vh;
      align-items: flex-start;
    }
  
    .nav-links {
      margin: 0em 1.5em;
    }
  
    .nav-links > ul {
      padding: 0;
    }
  
    .nav-links > ul > li {
      display: block;
      text-align: left;
    }
  }
  