footer {
    margin: 40em 0 0;
    background-color: black;
    text-align: center;
    height: 20vh;
  }
  
  footer h2 {
    margin: 0;
    padding: 1em 2em;
    font-size: 2em;
  }
  
  i {
    margin-right: 30px;
    margin-top: 10px;
  }
  
  @media only screen and (max-width: 320px) {
    footer {
      height: 25vh;
    }
    footer h2 {
      font-size: 1em;
    }
  }
  