<div class='trending-section'>
    <div class="head-content">
        <h2>Liste des Favoris</h2>
    </div>
    <!--Section to display what's trending this week-->
    <section class="d-flex flex-wrap">
        <div *ngFor="let film of film" class="card">
            <p class="title"> {{film.original_title}}</p>
            <p>Date de sortie: {{film.release_date}}</p>
            <p>Vote: {{film.vote_average}} /10 ★</p>
            <p>{{film.overview}}</p>
            <div *ngIf='film.poster_path!=null'>
                <img class="film-poster" src="https://image.tmdb.org/t/p/original{{ film.poster_path }}"
                alt="Movie Poster">
            </div>
        </div>
    </section>
</div>