<div class='trending-section'>
    <div class="head-content">
      <h2><br/> Bienvenue <br/> <br/><br/> <br/>  sur Filmotec </h2>
    </div>
    <img src="assets/images/AccuielPage/film.PNG">
    <br/> <br/> <br/>
    <a>Il s'agit d'une application Angular réalisée par Sophie Demaret a partir du projet initial fait par son equipe.</a><br/><br/>
    <a>Sur cette application vous aurez l'occassion de rechercher des films afin d'obtenir  trois informations dessus <br/>(Nom, Date de Parution, Note sur 10).</a> <br/>
    <br/><a>Ainsi tu auras la possibilité de crée une liste avec tes films préféres grâce à l'API</a> <br/>
  
  </div>
 