.trending-section {
    text-align: center;
    align-items: center;
    margin-top: 25px;
  }


h2 {
    font-weight: bold;
    font-size: 6em;
    color:rgb black;
  }

a {
  font-size: 2em;
  color:rgb black;
}