<div class='search-section'>
  <div class="head-content">
    <h2>Rechercher un film:</h2>
    <!--Getting film title input from the user-->
    <input type="text" [(ngModel)]="title" placeholder="Titre du Film" class="form-control" /><br>
    <button (click)="getFilm(title)" class="button1">Recherche</button>
  </div>
  <!--This section will display the search result based on the film title given by user-->
  <section class="d-flex flex-wrap">
    <div *ngFor="let film of films" class="card">
      <p class="title"> {{film.title}}</p>
      <p>{{film.original_title}}</p>
      <p>Date de sortie: {{film.release_date}}</p>
      <p>Vote: {{film.vote_average}} /10 ★</p>
      <p>{{film.overview}}</p>
      <input class="button" type="button" value="Ajouter aux favoris" (click)="addFavourite"/>
            <div *ngIf='film.poster_path!=null'>
                <img class="film-poster" src="https://image.tmdb.org/t/p/original{{ film.poster_path }}"
                alt="Movie Poster">
      </div>
       <div class="card-body">
        <small [class.error-message]='film.invalid' *ngIf='film.invalid'>{{errorMsg}}</small>
      </div> 
    </div>
  </section>
</div>