.trending-section {
    text-align: center;
    align-items: center;
    margin-top: 25px;
  }
  
  .card {
    width: 350px;
    height: 700px;
    align-items: center;
    border: 1px solid lightgrey;
    background-color: rgb(219, 222, 224);
    margin: 10vh 5vw;
  }
  
  .movie-poster {
    width: 280px;
    height: 300px;
    display: block;
    margin: auto;
  }
  .title {
    font-weight: bold;
    color:black;
  }
 
  p {
    font-size: 1.5em;
    color: rgba(119, 118, 118, 0.788);
  }
  
  h2 {
    font-weight: bold;
    font-size: 3em;
    color:rgb black;
  }

  button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #cfcfcf;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 220px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
  
  @media only screen and (max-width: 320px) {
    .card {
      width: 300px;
      height: 600px;
      // margin: 2em;
    }
  
    .movie-poster {
      width: 150px;
      height: 300px;
    }
  
    p {
      font-size: 1em;
    }
  
    h2 {
      font-size: 1.5em;
    }
  }
  